/* ########################################    Media Queries  ###############################*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 49%;
    }

    #contact-box {
        flex-direction: column;
    }

    #aboutImage {
        height: 12rem;
    }

    #aboutInfo {
        padding: 3rem 0rem;
    }

    #social-flex {
        width: fit-content;
    }

    #moreAbout {
        margin: 0rem;
    }

    #skills {
        padding: 0rem 0rem;
        margin-right: 5rem;
    }

    #education {
        background-position: 95% 100%;
        padding-right: 12rem;
    }

    .skill {
        width: 11rem;
        height: 15rem;
    }

    .skill-image {
        height: 7rem;
        margin: 2rem 1rem;
    }

    .edu-division {
        padding-right: 10rem;
    }

    #aboutNav {
        margin: 2rem 1rem;
    }

    #extra-skills {
        margin: 1rem 0.6rem;
        padding: 1rem 1rem;
    }

    #projectcontainer-flex {
        flex-direction: column;
        padding: 0.5rem;
        align-items: center;
        align-content: space-around;
    }

    .projectContainer-item {
        margin: 0.5rem;
        width: 80%;
    }

    #homeDiv {
        top: 9rem;
        left: 8rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 844px) {
    html {
        font-size: 58%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 58%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 72.5%;
    }
}

@media only screen and (max-width: 753px) {
    #contact-box {
        flex-direction: column;
        margin-left: 1rem;
    }

    #social-flex {
        margin-top: 4rem;
    }

    #homeDiv {
        left: 3rem;
    }

    nav {
        display: none;
        position: absolute;
        top: 7rem;
        background: rgb(31, 61, 71);
        color: rgb(255, 200, 1);
        z-index: 1;
        width: 100vw;
        height: 100vh;
        animation: mobileNav 1s ease;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navbar ul li {
        text-align: center;
        width: 100%;
    }

    .mobileMenu {
        display: block;
        margin-right: 2rem;
        color: rgb(255, 200, 1);
    }

    .mobileMenu .fas {
        line-height: 6.7rem;
    }
}

@media screen and (max-width: 460px) {
    html {
        font-size: 50%;
    }

    .rectangle {
        display: none;
    }

    #education {
        margin: 1rem 0rem;
        margin-left: -4rem;
        margin-right: 0rem;
        background: none;
        padding: 0rem;
    }

    #social-handle {
        margin: 1rem 0rem;
        width: 40rem;
    }

    .skill {
        width: 12rem;
        height: 15rem;
    }

    #skills {
        margin-right: 0rem;
    }

    .edu-division {
        padding-right: 5rem;
    }

    #homeDiv {
        top: 9rem;
        left: 2rem;
    }
}

@media screen and (max-width: 436px) {
    html {
        font-size: 44%;
    }

    #extra-skills {
        width: 60vw;
    }

    #homeDiv {
        top: 9rem;
        left: 2rem;
    }
}


